$xs: 0.5em;
$sm: 0.75em;
$md: 1em;
$lg: 1.2em;
$xl: 1.5em;
$xxl: 2em;

:export {
  size: {
    xs: $xs;
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;
    xxl: $xxl;
    autre: {
      rouge: #ff0000;
    }
  }
}
