@use 'space.module';
/*
 * Cerise sur la gâteau
 * les medias queries pour le côté responsive
 * 
 * Elles peuvent faire l'objet d'un fichier par
 * règle (largeur, résolution, orientation, ...)
 *
 * /!\ ces règles doivent être génériques et définies par UX /!\
*/

@media (max-width: 320px) {
  nav li {
    display: block;
    float: left;
  }

  section hr {
    display: none;
  }
}

@media (min-width: 550px) {
  button {
    margin: space.$xl;
  }

  section {
    padding: space.$xl;
  }
}
