/*
 * Liste des variables
*/
$sm: 2px;
$md: 5px;
$lg: 8px;
$xl: 15px;

/*
 * export des variables vers TypeScript si besoin
*/
:export {
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
}
