@use './space.module';

/*
 * Sorte de reset CSS
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: space.$md;
}

section {
  border-radius: space.$md;
}

label,
input {
  display: block;
}

body {
  background-color: rgba(255, 200, 200, 0.5);
}

section {
  padding: space.$sm;
}

code {
  display: block;
  white-space: pre;
  border: space.$sm inset brown;
}

/*
 * Cerise sur la gâteau
 * les medias queries pour le côté responsive
 * (peuvent faire l'objet d'un fichier dédié)
*/

@media (max-width: 250px) {
  section {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 750px) {
}

@media (min-width: 1080px) {
}

@media (min-width: 1081px) {
}
