/*
 * Importation des variables SCSS
 */
@use 'space.module';
@use 'color.module';

/*
 * Sorte de reset CSS
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: space.$md;
}

section {
  border-radius: space.$md;
}

label,
input {
  display: block;
}

body {
  background-color: color.$background;
}

section {
  padding: space.$sm;
  display: block;
}

code {
  display: block;
  white-space: pre;
  border: space.$sm inset brown;
  padding: space.$md;
  box-shadow: inset 3px -3px space.$md color.$shadow;
}

/*
 * Pas d'export vers typescript ici, cette feuille de style sert
 * uniquement à définir le style et le comportement par défaut 
 */

/*
 * à inclure en dernier pour garder la priorité
 */
@import 'responsive.module';
