@use '../../style/space.module';
@use '../../style/color.module';

/*general styles*/
.bouton {
  border-radius: space.$md;
  border: calc(#{space.$xs} + #{space.$sm});
  border-style: solid;
  border-color: grey;
  margin: space.$sm;
}

.bouton:hover,
.bouton:focus {
  box-shadow: 0px space.$sm space.$md color.$shadow;
}

.bouton:focus {
  outline: 0;
  border-style: inset;
}
