@use '../../style/space.module';
@use '../../style/fontsSize.module';

.label {
  font-size: calc(#{fontsSize.$lg} - 0.1em);
}

.input {
  font-size: fontsSize.$lg;
  margin: space.$md;
}

.input::placeholder {
  font-weight: bold;
}
