@use '../space.module';

$primary-blue: #9595ff;

$background: #000;
$text-color: #fff;

$shadow: rgba(255, 255, 255, 0.5);

[class~='dark'] {
  * {
    font-family: cursive;
  }

  code {
    box-shadow: inset 3px -3px space.$md $shadow;
  }

  button {
    border-color: $primary-blue;
    background-color: $background;
    color: $text-color;
  }

  input {
    border-color: $primary-blue;
    background-color: $background;
    color: $text-color;
  }

  section {
    border-color: $primary-blue;
    background-color: $background;
    color: $text-color;
  }
  
}

:export {
  DarkPrimaryBlue: $primary-blue;
  DarkBackground: $background;
  DarkTextColor: $text-color;
  DarkShadow: $shadow;
}
